* { font-family: 'Merriweather', serif;
}

* {

  box-sizing: border-box;
}

header h1 {
    color: white;
}

label {
    color: rgb(51, 69, 149);
    padding: 10px;
    font-size: 18px;
}

header {
    background-color: rgb(15, 58, 91)
}


input {
    border: white;
}

header {
    font-size: 10px;
    text-align: center;
    margin-bottom: 50px;
    padding: 40px 40px 40px;
}

h2 {
    font-size: 30px;
    padding: 10px;
}

p {
    color: rgb(51, 69, 149);
}

html, body {
      overflow-x: hidden;
      width: 100%;
}

fieldset {
  border:none;
  margin: 0;
}

textarea:focus {
  background: steelblue;
}

select:focus {
  background: steelblue;
}

input:focus{
  background: steelblue;
  transform: scale(1.1);
}

button:focus {
  background: steelblue;
}

.form-input:hover {
  transition-duration:0.4s;
  width: 340px;
  background-color: lightblue;
}

.zippy:hover {
  transition-duration:0.5s;
  width: 300px;
  background-color: lightblue;
}

::-webkit-input-placeholder{
    font-style: italic;
    text-align: right;
}

::-moz-placeholder {
    font-style: italic;
    text-align: right;
}

::-ms-input-placeholder {
    font-style: italic;
    text-align: right;
}

input, select, textarea {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}


.section-1 {
      text-align: center;
      font-size: 20px;
}

.section-2  {
     background-color: rgb(38, 200, 190);
     box-sizing: content-box;
}

.section-2 label {
     display: block;
}


.section-3 {
      font-size: 18px;
}


.section-4 {
      margin: 25px 0px 200px;
      display: flex;
      flex-direction: column;
}

.copy {
      text-align: center;
      color: rgb(200, 200, 200);
}

.container {
      padding: 0px 20px 0px;
}

.button {
      border-radius: 5px;
      padding: 20px;
      color: white;
      font-size: 30px;
      background-color: rgb(19, 204, 176);
      border: white;
      cursor: pointer;
}


.input-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.select-section {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 10px;
}

.other-topics{
  border-radius: 5px;
  border: 0;
  padding: 20px;
  height: 100px;
  margin-block-start: 15px;
  margin-bottom: 15px;
  background-color: rgb(245, 245, 245);

}


.form-input {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(245, 245, 245);

}

.allstates {
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  padding: 10px;
}

  .zippy {
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(245, 245, 245);
      width: 50%;
}




@media screen and (min-width: 768px) {

    .input-section  {
        display: flex;
        flex-direction: row;
        padding: 20px;
        /* justify-content: space-between; */
}

      .container {
        max-width: 700px;
        margin:auto;
      }

    .select-section {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding: 20px;
}


      #name,#email,#phone,#city,#address1,#state,label {
        min-width: 200px;
      }

      .form-input {
        width: 80%;
        max-width: 80%;
      }

      .zippy {
        width: 25%;
      }

      #state {
        width: 80%;
      }
textarea {
  text-align: left;
}
}
